<div class="container mt-4">

    <% @bookmarks.each do |bookmark| %>
        <h1>
          <%= bookmark.movie.title%> <%= link_to bookmark_path(bookmark), data: { turbo_method: :destroy, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-regular fa-trash-can"></i>
        <%end %></p>

        <div class="grid-container">
          <%= image_tag(bookmark.movie.poster_url, alt: "Movie Poster", size: "300x450") %>
          <p>Comment</p>
          <p><%= bookmark.comment %></p>
          </div>
      <% end %>
</div>
